/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* LAYOUT */

.container {
  max-width: 120rem;
  display: block;
  margin: auto;
  padding: 2rem;
}

.card {
  width: 80rem;
  border: solid 1px white;
}

/* BOOTSTRAP CLASSES */

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-justify-content-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-items-between {
  align-content: space-between;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-50 {
  flex: 1 1 50%;
}

/* UTILITY */

.p-10 {
  padding: 1rem;
}

.p-20 {
  padding: 2rem;
}

.pr-10 {
  padding-right: 1rem;
}

.pl-10 {
  padding-left: 1rem;
}

.m-10 {
  margin: 1rem;
}

.m-20 {
  margin: 2rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.text-justify {
  text-align: justify;
}

/* DEBUG */

.d1 {
  border: 1px solid red;
}

.d2 {
  border: 1px solid green;
}
