/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* LAYOUT */

main {
  height: 100vh;
}

body {
  background-color: #28223f;
  font-family: Montserrat, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
}

h3 {
  font-size: 1.8rem;
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
  font-size: 1.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 3rem;
  position: relative;
  width: 35rem;
  max-width: 100%;
  text-align: center;
}

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.3rem 0.7rem;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.card-container .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 0.7rem;
}

.round {
  height: 30rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #b3b8cd;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 1rem 2.5rem;
}

button:hover {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 1rem 2.5rem;
}

.skills {
  background-color: #1f1a36;
  padding: 1.5rem;
  margin-top: 3rem;
  text-align: center;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 7px 7px 0;
  padding: 0.7rem;
}

.skills ul li:hover {
  background-color: #03bfcb;
  color: black;
}

/* UTILITY */

.p-10 {
  padding: 1rem;
}

.p-20 {
  padding: 2rem;
}

.pr-10 {
  padding-right: 1rem;
}

.pl-10 {
  padding-left: 1rem;
}

.m-10 {
  margin: 1rem;
}

.m-20 {
  margin: 2rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.text-justify {
  text-align: justify;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
